.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/login_bg.png') no-repeat center;
    background-size: 100% 100%;
}

.welcome-box{
    padding-top: 40px;
    width: 380px;
    height: 430px;
    text-align: center;
    color: #fff;
    background: url('../img/welcome_bg.png') no-repeat center;
}

.welcome-box h1{
    font-size: 50px;
}

.welcome-box h4{
    font-size: 30px;
}

.welcome-box p{
    font-size: 14px;
    margin-top: 12px;
}

.welcome-box .line{
    margin: 16px auto 8px;
    width: 36px;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.login-box{
    width: 410px;
    height: 470px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
}

.logo{
    padding: 45px 0;
    text-align: center;
}

.logo img{
    width: 100px;
    transform: scale(4);
}

.login-box .el-form-item{
    display: inline-block;
}

.login-box .el-input{
    margin: 0 auto 0px;
    width: 244px;
    color: #999;
    border-bottom: 1px solid #ccc;
}

.login-box .el-input .el-input__inner{
    font-size: 16px;
    border: none;
}

.login-box .el-input .el-input__icon{
    font-size: 16px;
    width: 0;
}

.login .btn{
    margin-bottom: 20px;
    width: 244px;
    height: 44px;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
}

.company-info{
    position: absolute;
    bottom: 2%;
    line-height: 18px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}